body {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

header {
  background-color: #efefef;
}

img {
  max-width: 100%;
  height: auto;
}

h5 {
  padding: 10px 0 5px 0;
}

.nav{
  padding-bottom:10px;
}

a, Link {
  /* text-decoration: underline; */
  color:black !important;
}

a:hover{
  color: #595959 !important;  
}

.filler{
  height:44.5vh;
}

.dropdown-toggle::after {
  content:none !important;
}

.card-image {
  border-radius: 3px 3px 0 0;
}

.card-body.rovers {
  padding-bottom: 0 !important;
}

.card-body.apods {
  background: #f4f4f4;
}

iframe {
  border:none;
  position: relative;
  height:100%;
  width:100%;
  border-radius: 3px 3px 0 0;
}

.flex-container{
  display: flex;
  gap:10px;
  align-items: center;
  align-content: center;
}

.jumbotron {
  color: white;
  height: 90vh;
  background-size: cover;
  background-position: center;
  margin: 0 !important;
  border-radius: 0 !important;
}

.brand-header {
  padding:20px 0 10px 0;
  justify-content: center;
}

.brand-header > h1, img {
  display:inline
  }

.brand-logo{
  width:2.5em;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


.explanation {
  width:80vw;
  text-align: left;
  margin: 20px auto;

}

.flex-column {
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.loading {
  gap:20px;
  height:90vh;
  color: #717171;
}

.spin-right{
  animation-name: spin-right;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.spin-left{
  animation-name: spin-left;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin-right {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@keyframes spin-left {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(-360deg);
  }
}

.copyright{
  color:silver;
  font-size:10px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* ---------- Container for the orbiting circles animation ---------- */
#orbit-container {
  position: relative;
  height: 300px;
  width: 300px;
}

/* ---------- Inner orbit - This is the circles closest to the central point ---------- */
#orbit-1 {
  position: absolute;
  top: 75px;
  left: 75px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  -webkit-animation: orbit-left 7s linear infinite;
  animation: orbit-left 7s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.orbit-1-cirlces {
  position: absolute;
  top: 62px;
  left: -6px;
  width: 3em;
  background-color: rgb(255, 127, 104);
  border-radius:100%
}

/* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
#orbit-2 {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 225px;
  height: 225px;
  border-radius: 100%;
  -webkit-animation: orbit-right 15s linear infinite;
  animation: orbit-right 15s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.orbit-2-cirlces {
  position: absolute;
  top: 25px;
  left: 17px;
  width: 5em;
  background-color: rgb(146, 255, 168);
  border-radius:100%;
}

/* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
#orbit-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  -webkit-animation: orbit-right 20s linear infinite;
  animation: orbit-right 20s linear infinite;
}

/* ---------- Repeating styles for the outer orbiting circles ---------- */
.orbit-3-cirlces {
  position: absolute;
  width: 6em;
  background-color: rgb(146, 224, 255);
  border-radius:100%
}

/* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
#orbit-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  border-radius: 100%;
  /* border:2px dashed black; */
  -webkit-animation: orbit-left 25s linear infinite;
  animation: orbit-left 25s linear infinite;
  z-index: -6;
}

/* ---------- Repeating styles for the outer orbiting circles ---------- */
.orbit-4-cirlces {
  /* position: absolute; */
  width: 8em;
  background-color: rgb(240, 240, 240);
  border-radius:100%;
  z-index: -6;
}

#orbit-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  -webkit-animation: orbit-right 25s linear infinite;
  animation: orbit-right 25s linear infinite;
}

/* ---------- Repeating styles for the outer orbiting circles ---------- */
.orbit-5-cirlces {
  position: absolute;
  width: 6em;
  background-color: rgb(235, 255, 146);
  border-radius:100%
}

/* ---------- Animation ---------- */
@keyframes orbit-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes orbit-left {
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.about {
  gap:20px;
  height: 73.5vh;
}

.masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 20px 10px 0;
  width: auto;
  min-height: 53vh;
}
.masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.masonry-grid_column > div {
  margin-bottom: 20px;
}

.form-group{
  max-width:450px;
}

.dropdown-menu.show {
  background-color: #efefef !important;
  border: none;
}

footer {
  height:10vh;
  background-color: #e9e9e9;
  justify-content: space-between;
  padding:0 5%;
}

footer > a {
  padding:0 !important;
}

.brand-footer > p {
   display:inline;
   font-size: 12px;
   padding-right:12px;
}

@media screen and (max-width: 450px) {
 .explanation {
   width:100%;
 }

 .about{
   margin:0 20px;
 }

 .filler{
  height:56vh;
}
}